<%- include('components/header.ejs') %>

<h3>Welcome to the home page</h3>
<ul>
    <% products.forEach((product) => { %>
        <li>
            <a href="/products/<%= product.id %>"><%= product.title %></a>
        </li>
    <% }) %>
</ul>

<%- include('components/footer.ejs') %>